body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(55deg, #f0eeee, #021464);
}

.calculator {
    background-color: #101011;
    border-radius: 15px;
    box-shadow: 0 20px 20px rgba(33, 33, 33, 0.2);
    overflow: hidden;
    width: 350px;
}

.calculator-display-point {
    background-color: #070707;
    color: white;
    font-size: 2.5rem;
    padding: 20px;
    text-align: right;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
}

.btn-view {
    background-color: #e5b90a;
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-view:hover {
    background-color: #040404;
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.btn-zero {
    grid-column: span 2;
}

.equals {
    background-color: #0a0445;
    color: white;
}

.equals:hover {
    background-color: #3ef11a;
    transform: scale(1.05);
}

.btn:active {
    transform: translateY(2px);
    box-shadow: none;
}
